<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>햌쮐향햦햫햟</title>
     <link rel="stylesheet" href="../css/index.css">
     <script defer src="../js/index.js"></script>
</head>
<body>
    <div class="items_container">
    {{#each cart_items}}
        {{#with .}}
                <div class="item-container cart-page">
                    <img class="item-img" src="../uploads/{{image}}">
                    <p class="price">{{price}} 혞햠</p>
                    <p class="retailer">{{retailer}}</p>
                    <p class="itemName">{{itemName}}</p>
                    <div class="cont">
                        <p class="rating">{{rating}}游녨</p>
                        <p class="reviews" onclick="showReviews({{id}})">{{numOfReviews}}游닇</p>
                        <p class="sales">{{sales}}游</p>
                    </div>
                    <button class="button-cart" onclick="payForItem({{id}})">뤯햩햟혝햦혝혧</button>
                    <button class="button-cart" onclick="deleteFromCart({{id}})">햒햢햟햩햦혝혧 햦향 햨쮐향햦햫혦</button>
                </div>
        {{/with}}
    {{/each}}
    {{#unless cart_items}}
        <div class="container-empty">
            <img class="empty-cart-img" src="https://olsi-trade.ru/local/templates/olsi/img/icon/empty-basket.svg">
            <p class="empty-cart">햌쮐향햦햫햟 혞혜혝햟</p>
        </div>
    {{/unless}}
    </div>
    <button id="back-to-main" onclick="backToMainPage()">햏햟 햡햩햟쒫쫨혩</button>
</body>
</html>